@model ProjectManager.WebUI.Models.ViewModels.PropertyViewModel

@Html.HiddenFor(model => model.PropertyId)

<fieldset>
    <legend id="testHover">
        <h5>@Model.PropertyName</h5>
    </legend>
    <div id=@Model.PropertyId>
        <br />
        @Html.DisplayFor(model => Model.PropertyValues)
    </div>
    <input type="button" id="editpropertybutton" class="editButton" value="Edit" />
</fieldset>

